---
cloud_config:
  project_name: {{ lookup('env', 'project_name') }}
  env_type: {{ lookup('env', 'env_type') }}
  resource_group_phase: {{ lookup('env', 'resource_group_phase') }}
  application_name: {{ lookup('env', 'application_name') }}
  data_domain: {{ lookup('env', 'data_domain') }}

  resource_group: {{ lookup('env', 'data_domain') }}-{{ lookup('env', 'resource_group_phase') }}-{{ lookup('env', 'project_name') }}-{{ lookup('env', 'application_name') }}-{{ lookup('env', 'env_type') }}-rg
  location: "westeurope"
  admin_username: "sdp-admin"
  
  nifi:
    provision: {{ lookup('env', 'nifi') }}
    nodes_count: {{ lookup('env', 'nifi_nodes_count') }}
    flavor: Standard_D3_v2
  
  kafka:
    provision: {{ lookup('env', 'kafka') }}
    flavor: Standard_D3_v2

  ssh:
    publickey: {{ sdp_admin_public }}
        
  storage_account:
    name: sa{{ lookup('env', 'project_name') }}{{ lookup('env', 'application_name') }}{{ lookup('env', 'env_type') }}
    type: "Standard_LRS"
      
  network:
    name: vnet-{{ lookup('env', 'project_name') }}-{{ lookup('env', 'env_type') }}
    address_prefix: "10.109.0.0/24"
      
  subnet:
    name: subnet-{{ lookup('env', 'project_name') }}-{{ lookup('env', 'env_type') }}
    address_prefix: "10.109.0.0/26"
      
  security_groups:
    name: nsg-{{ lookup('env', 'project_name') }}-{{ lookup('env', 'env_type') }}
    rules:
      inbound:
        allow_ssh_inbound:
          name: Allow_SSH
          protocol: Tcp
          port: 22
          priority: 100
          source: VirtualNetwork
        allow_icmp_inbound:  
          name: Allow_ICMP
          protocol: *
          priority: 101
          source: VirtualNetwork
      
  peering:
    initial_peering_name: vnet-{{ lookup('env', 'project_name') }}-{{ lookup('env', 'env_type') }}-to-vnet-sdp-internal
    access_virtual_network: '/subscriptions/dd10eed9-865c-4bfa-a260-d3e8fe16b047/resourceGroups/access-sdp-jumpbox-rg/providers/Microsoft.Network/virtualNetworks/vnet-sdp-internal'
    access_resource_group: 'access-sdp-jumpbox-rg'
    access_subscription_id: 'dd10eed9-865c-4bfa-a260-d3e8fe16b047'
    connect_peering_name: vnet-sdp-internal-to-vnet-{{ lookup('env', 'project_name') }}-{{ lookup('env', 'env_type') }}

  vm:
    image:
      offer: CentOS
      publisher: OpenLogic
      sku: '7.4'
      version: latest
