---
cloud_config:
  project_name: {{ lookup('env', 'project_name') }}
  env_type: {{ lookup('env', 'env_type') }}
  resource_group_phase: {{ lookup('env', 'resource_group_phase') }}
  application_name: {{ lookup('env', 'application_name') }}
  data_domain: {{ lookup('env', 'data_domain') }}

  resource_group: {{ lookup('env', 'data_domain') }}-{{ lookup('env', 'resource_group_phase') }}-{{ lookup('env', 'project_name') }}-{{ lookup('env', 'application_name') }}-{{ lookup('env', 'env_type') }}-rg
  location: "westeurope"
  admin_username: "sdp-admin"

  mockup:
    kafka:
      provision: {{ lookup('env', 'kafka') }}
      functionality: kafka
      tags:
        role: kafka_mockup

    sftp:
      provision: {{ lookup('env', 'kafka') }}
      functionality: sftp
      nodes_count: 1
      flavor: Standard_D3_v2
      tags:
        role: sftp_mockup

  mgmt:
    provision: {{ lookup('env', 'nifi') }}
    functionality: nifimgmt
    nodes_count: 1
    flavor: Standard_D3_v2
    tags:
      role: ambari_mgmt


  nifi:
    provision: {{ lookup('env', 'nifi') }}
    functionality: nifi
    nodes_count: {{ lookup('env', 'nifi_nodes_count') }}
    flavor: Standard_A5
    tags:
      role: nifi_worker


  ssh:
    sdp_admin_publickey: {{ sdp_admin_public }}
    jenkins_publickey: {{ jenkins_public }}

        
  storage_account:
    name: sa{{ lookup('env', 'project_name') }}{{ lookup('env', 'application_name') }}{{ lookup('env', 'env_type') }}
    type: "Standard_LRS"
      
  network:
    name: vnet-{{ lookup('env', 'project_name') }}-{{ lookup('env', 'env_type') }}

    address_prefix: "VNET-ANCOR.0/24"
      
  subnet:
    name: subnet-{{ lookup('env', 'project_name') }}-{{ lookup('env', 'env_type') }}
    address_prefix: "VNET-ANCOR.0/26"
      
  security_groups:
    name: nsg-{{ lookup('env', 'project_name') }}-{{ lookup('env', 'env_type') }}
    rules:
      inbound:
        allow_ssh_inbound:
          name: Allow_SSH
          protocol: Tcp
          port: 22
          priority: 100
          source: VirtualNetwork
          destination: VirtualNetwork
        allow_ping_inbound:  
          name: Allow_Ping
          protocol: Udp
          port: 7
          priority: 101
          source: VirtualNetwork
          destination: VirtualNetwork
        allow_icmp_inbound:
          name: Allow_Icmp
          protocol: Icmp
          priority: 102
          source: VirtualNetwork
          destination: VirtualNetwork
      
  peering:
    vnet_sdp_internal:
      initial_peering_name: vnet-{{ lookup('env', 'project_name') }}-{{ lookup('env', 'env_type') }}-to-vnet-sdp-internal
      remote_virtual_network: '/subscriptions/dd10eed9-865c-4bfa-a260-d3e8fe16b047/resourceGroups/access-sdp-jumpbox-rg/providers/Microsoft.Network/virtualNetworks/vnet-sdp-internal'
      remote_resource_group: 'access-sdp-jumpbox-rg'
      remote_subscription_id: 'dd10eed9-865c-4bfa-a260-d3e8fe16b047'
      connect_peering_name: vnet-sdp-internal-to-vnet-{{ lookup('env', 'project_name') }}-{{ lookup('env', 'env_type') }}
    vnet_cicd_prd:
      initial_peering_name: vnet-{{ lookup('env', 'project_name') }}-{{ lookup('env', 'env_type') }}-to-vnet-cicd-prd
      remote_virtual_network: '/subscriptions/fd478270-bd64-4cf3-bb8b-53016bb2ffd6/resourceGroups/automation-cicd-prd-rg/providers/Microsoft.Network/virtualNetworks/vnet-cicd-prd'
      remote_resource_group: 'automation-cicd-prd-rg'
      remote_subscription_id: 'fd478270-bd64-4cf3-bb8b-53016bb2ffd6'
      connect_peering_name: vnet-cicd-prd-to-vnet-{{ lookup('env', 'project_name') }}-{{ lookup('env', 'env_type') }}

  vm:
    managed_disk_type: Standard_LRS
    image:
      offer: CentOS
      publisher: OpenLogic
      sku: '7.4'
      version: latest
      
  tags:
    Env: dev
    Project: devoteam
    Phase: ingestion
    Country: NL
    Unit: Data-Solutions
    Type: CentOS


########################
## java configuration ##
########################

java: 'embedded'                                          # can be set to 'embedded', 'openjdk' or 'oraclejdk'
oraclejdk_options:                                        # only used when java is set to 'oraclejdk'
  base_folder: '/usr/java'                                # the folder where the Java package should be unpacked to
  tarball_location: '/tmp/jdk-8u181-linux-x64.tar.gz'     # the location of the tarball on the remote system or on the Ansible controller
  jce_location: '/tmp/jce_policy-8.zip'                   # the location of the JCE package on the remote system or on the Ansible controller
  remote_files: no                                        # set to yes to indicate the files are already on the remote systems, otherwise they will be copied by Ansible from the Ansible controller
