<?xml version='1.1'?>
<flow-definition plugin="workflow-job@2.35">
  <description>{{ project_name }}</description>
  <displayName>{{ project_name }}</displayName>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.74">
    <script>node {
   echo &apos;Hello World&apos;
}</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>
