  //Jenkins pipeline to provision Data Mockup infrastructure
    def azureSubscription = ""
    def inputSubscription = ""
    def skipRemainingStages = "true"

    pipeline {
    agent any
    parameters{
    choice(name: 'subscription', choices: '{{ lookup( "env", 'Subscription') }}', description: 'Subscription to provision')
    choice(name: 'ResourceGroup', choices: '{{ lookup( "env", 'data_domain') }}-{{ lookup( "env", 'resource_group_phase') }}-{{ lookup( "env", 'project_name') }}-{{ lookup( "env", 'env_type') }}', description: 'Subscription to provision')
    choice(name: 'data_domain', choices: '{{ lookup( "env", 'data_domain') }}', description: 'this is the Data Domain')
    choice(name: 'resource_group_phase', choices: '{{ lookup( "env", 'resource_group_phase') }}', description: 'Resourcegroup Phase')
    choice(name: 'project_name', choices: '{{ lookup( "env", 'project_name') }}', description: 'Project Name')
    choice(name: 'env_type', choices: '{{ lookup( "env", 'env_type') }}', description: 'Environment type to provision')
    {% if lookup('env', 'sftp') == 'false' %}
    booleanParam(defaultValue: false, name: 'sftp', description: 'Provision a SFTP mockup server')
    {% else %}
    string(name: 'sftp_installed', defaultValue: 'sftp is already installed' )
    {% endif %}
    {% if lookup('env', 'kafka ') == 'false' %}
    booleanParam(defaultValue: false, name: 'kafka', description: 'Provision a kafka mockup server')
    {% else %}
    string(name: 'kafka_installed', defaultValue: 'kafka is already installed' )
    {% endif %}
    {% if lookup('env', 'oracle') == 'false' %}
    booleanParam(defaultValue: false, name: 'oracle', description: 'Provision a oracle mockup db')
    {% else %}
    string(name: 'oracle_installed', defaultValue: 'Oracle is already installed' )
    {% endif %}
    }

    environment {
        master_project_name = "${data_domain}-${resource_group_phase}-${project_name}-${env_type}"
        job_type = "jenkinsfile_mockups.j2"
    }
    stages {

    stage ('Git checkout and switch to Master') {
    steps {
    sh 'git checkout --track origin/master'
    }
    }

    stage ('update all file') {
    steps {

  withCredentials([azureServicePrincipal(credentialsId: '{{ lookup('env', 'CREDENTIAL_ID') }}',
                                                          subscriptionIdVariable: 'AZURE_SUBSCRIPTION_ID',
                                                          clientIdVariable: 'AZURE_CLIENT_ID',
                                                          clientSecretVariable: 'AZURE_SECRET',
                                                          tenantIdVariable: 'AZURE_TENANT')]) {
                                                          ansiblePlaybook extras: "-e @environments/{{ master_project_name }}/all", playbook: 'playbooks/create-new-environment.yml', skippedTags: 'create,hdi'
  }
  }
  }

    stage ('Provision Infrastructure') {
    steps {

    withCredentials([azureServicePrincipal(credentialsId: '{{ lookup('env', 'CREDENTIAL_ID') }}' ,
                                                            subscriptionIdVariable: 'AZURE_SUBSCRIPTION_ID',
                                                            clientIdVariable: 'AZURE_CLIENT_ID',
                                                            clientSecretVariable: 'AZURE_SECRET',
                                                            tenantIdVariable: 'AZURE_TENANT')]) {
                                                            ansiblePlaybook extras: "-e @environments/{{ master_project_name }}/all", playbook: 'playbooks/provision-virtual-environment.yml', skippedTags: 'hdi'
  }
  }
  }

    stage ('Install Mockups Infra') {
    steps {
  withCredentials([azureServicePrincipal(credentialsId: '{{ lookup('env', 'CREDENTIAL_ID') }}',
                                                          subscriptionIdVariable: 'AZURE_SUBSCRIPTION_ID',
                                                          clientIdVariable: 'AZURE_CLIENT_ID',
                                                          clientSecretVariable: 'AZURE_SECRET',
                                                          tenantIdVariable: 'AZURE_TENANT')]) {
                                                          ansiblePlaybook credentialsId: 'SDP-Admin', extras: "-e @environments/{{ master_project_name }}/all", inventory: "environments/${params.data_domain}-${params.resource_group_phase}-${params.project_name}-${params.env_type}/azure_rm.yml", playbook: 'playbooks/install-software.yml' , skippedTags: 'hdi,dataproject'
  }
  }
  }
  }
  }
