{% for public_key in public_keys %}
{% for people in authorized_people.internal_jumpbox_admin %}
{% if people == public_key.name %}
{% for ssh in public_key.ssh %}
{{ ssh }}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
